@model ServeMeHRCore21.Models.Priorities

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Priorities</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PriorityDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriorityDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeamNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamNavigation.TeamDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
