@*@model IEnumerable<ServeMeHRCore21.Models.Priorities>*@
@using X.PagedList;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@model IPagedList<ServeMeHRCore21.Models.Priorities>
@{
    ViewData["Title"] = "Index";
}
<h2>Priorities</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{

    <p>
        @Html.DropDownList("SelectedTeam")
    </p>

    <p>
        <input type="submit" value="Search" />
    </p>

}
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Priorities</h1>
            </div>
            <div class="panel-body">
                <table id="priorities-data-table"
                       class="table table-striped table-bordered"
                       style="width:100%">
                    @*<table class="table">*@
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdSortParm })
                            </th>

                            <th>
                                @Html.ActionLink("PriorityDescription", "Index", new { sortOrder = ViewBag.pdSortParm })
                            </th>
                            <th>
                                LastUpdated
                            </th>
                            <th>
                                Active
                            </th>
                            <th>
                                Team
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PriorityDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastUpdated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Active)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TeamNavigation.TeamDescription)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Index",
                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),PagedListRenderOptions.ClassicPlusFirstAndLast)


                    @*@section Scripts
                            {

                            <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
                            <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
                            <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

                            <script type="text/javascript">
                                $(document).ready(function () {

                                    $('#priorities-data-table').DataTable();
                                });
                            </script>
                        }*@
