@model ServeMeHRCore21.Models.TeamAssignmentHistories

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeamAssignmentHistories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssignedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateAssigned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateAssigned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceRequestNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceRequestNavigation.RequestDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeamNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamNavigation.TeamDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

